/* get poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #0b0c10;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: poppins;
  height: 80vh;
  margin-top: -35px;
}

.mainTitle{
    color: #66fcf1;
}

.container {
    width: 80%;
    max-width: 800px;
    height: 350px;
    background-color: white;
    border-radius: 30px;
}

.description {
    border-radius: 25px 25px 0 0;
    background-color: #1f2833;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    height: 100px;
    color: #66fcf1;
}

.input-container {
    height: 150px;
    width: 100%;
    background-color: #45a29e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

label {
    font-size: 25px;

    font-weight: 600;
}

#number {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

.result-container {
    height: 100px;
    width: 100%;
    background-color: #1f2833;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:  0 0 25px 25px;
}

.infos {
 margin-top: 50px;
color: aliceblue;
background-color: #1f2833;
width: 280px;
height: 80px;
border-radius: 25px;
display: flex;
align-items: center;justify-content: center;
}

span {
    color: aliceblue;
}